.main {
  margin-top: 15%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 26px; */
}

.search [type="text"] {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid #dacbcb;
  padding: 5px;
  font-size: 16px;
  font-family: arial, sans-serif;
}

.search-icon {
  width: 25px;
  height: 25px;
  /* display: block; */
  /* margin-left: 700px;
  margin-top: 30px; */
}

.search-button [type="submit"] {
  position: absolute;
  left: 50%;
  transform: translateX(-130%);
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 80px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
  user-select: none;
}

.lucky-button [type="submit"] {
  position: absolute;
  left: 50%;
  transform: translateX(20%);
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 80px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
  user-select: none;
}
