.main {
  margin-top: 14%;
}

.top-left {
  display: flex;
  align-items: center;
  padding: 6px;
  height: 60px;
  flex-shrink: 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 50;
}

.top-right {
  display: flex;
  align-items: center;
  padding: 6px;
  height: 60px;
  flex-shrink: 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
}

.top {
  color: #222;
  padding: 5px;
  margin: 0 5px;
  font-size: 14px;
  font-family: arial, sans-serif;
  text-decoration: none;
}

.nav-link-round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.waffle-menu {
  border-radius: 50%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
}

.search [type="text"] {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 34px;
  border-radius: 25px;
  border: 1px solid #e2d4d4;
  padding: 5px;
  font-size: 16px;
  font-family: arial, sans-serif;
}

.search-bar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 34px;
}

.search-bar input {
  position: absolute;
  width: 80%;
  height: 50%;
  font-size: 16px;
  font-family: arial, sans-serif;
  border-radius: 25px;
  border: 1px solid #e2d4d4;
  padding: 1em 4em;
}

.search-bar-icon {
  position: absolute;
  left: 1em;
  top: 40%;
  z-index: 100;
}

.search-button [type="submit"] {
  position: absolute;
  left: 50%;
  transform: translateX(-120%);
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 40px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
  user-select: none;
}

.lucky-button [type="submit"] {
  position: absolute;
  left: 50%;
  transform: translateX(5%);
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 40px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
  user-select: none;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 30px;
  background: #f2f2f2;
  box-sizing: border-box;
  margin: 0;
}

.footer-links {
  color: #70757a;
  text-decoration: none;
  font-size: 14px;
  font-family: arial, sans-serif;
  padding: 15px;
}

.carbon-neutral {
  height: 30px;
}

/* .search-bar-icon-right {
  position: absolute;
  right: 1em;
  top: 50%;
  z-index: 100;
} */
